.btn-perso {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}
.btn-perso.type {
    color: #fff;
    background-color: rgba(0, 166, 153, 0.3);
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.7);
}
.btn-perso.type-1 {
    color: #fff;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.7);
}

.btn-perso.type.type::after,
.btn-perso.type.type::before, 
.btn-perso.type-1.type-1::after,
.btn-perso.type-1.type-1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 3px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.btn-perso.type.type::after, 
.btn-perso.type-1.type-1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #00A699;
    border-right-color: #00A699;
}

.btn-perso.type.type::before, 
.btn-perso.type-1.type-1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #00A699;
    border-left-color: #00A699;
}

.btn-perso.type.type:hover:after,
.btn-perso.type.type:hover:before, 
.btn-perso.type-1.type-1:hover:after,
.btn-perso.type-1.type-1:hover:before {
    border-bottom-color: #00A699;
    border-right-color: #00A699;
    border-top-color: #00A699;
    border-left-color: #00A699;
    width: 100%;
    height: 100%;
}

.color-btn {
    font-weight: 700 !important;
    color: #00A699!important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
    padding: .7em !important;
}